---
layout: default
title: Projects
---
<h1 class="cent-head">RuneLite</h1>
<div class="project-container">
	<section class="proj-tile">
        <h1 class="proj-name">RuneLite Core</h1>
        <p class="proj-blurb">All the contributions I've made to the core RuneLite client.</p>
        <div class="proj-bottom-bar">
        	<a class="proj-button" href="https://github.com/runelite/runelite/commits/master?author=Enriath">View Commits</a>
            <a class="proj-button" href="https://github.com/runelite/runelite/pulls?page=1&q=is%3Apr+author%3AEnriath&utf8=✓">View PRs</a>
        </div>
    </section>
    <section class="proj-tile">
        <h1 class="proj-name">Door Kicker</h1>
        <p class="proj-blurb">Could be considered the first successful meme plugin, and it's still bringing the joy of kicking doors open to users even after all this time.</p>
        <div class="proj-bottom-bar">
            <a class="proj-button" href="https://github.com/Enriath/external-plugins/tree/door-kicker">View Source</a>
            <p class="proj-status">Status: Near-Perfection</p>
        </div>
    </section>
    <section class="proj-tile">
        <h1 class="proj-name">Transmogrification</h1>
        <p class="proj-blurb">A plugin to allow users to look like they're wearing whatever they want, whenever they want.</p>
        <div class="proj-bottom-bar">
            <a class="proj-button" href="https://github.com/Enriath/external-plugins/tree/transmog">View Source</a>
            <p class="proj-status">Status: v1.3 released</p>
        </div>
    </section>
    <section class="proj-tile">
        <h1 class="proj-name">Contextual Cursor</h1>
        <p class="proj-blurb">A plugin to bring back RSHD/RS3's image cursors.</p>
        <div class="proj-bottom-bar">
            <a class="proj-button" href="https://github.com/Enriath/external-plugins/tree/contextual-cursor">View Source</a>
            <p class="proj-status">Status: Equivalence to RSHD</p>
        </div>
    </section>
    <section class="proj-tile">
        <h1 class="proj-name">Trailblazer Clues</h1>
        <p class="proj-blurb">A plugin to help players figure out which regions were needed for each clue during Trailblazer League.</p>
        <div class="proj-bottom-bar">
            <a class="proj-button" href="https://github.com/Enriath/external-plugins/tree/trailblazer-clues">View Source</a>
            <p class="proj-status">Status: Obsolete</p>
        </div>
    </section>
    <section class="proj-tile">
        <h1 class="proj-name">External Plugins</h1>
        <p class="proj-blurb">All my plugin hub plugins in a single repo. Change brances to see each of them.</p>
        <div class="proj-bottom-bar">
            <a class="proj-button" href="https://github.com/Enriath/external-plugins">View</a>
        </div>
    </section>
</div>
<h1 class="cent-head">Projects</h1>
<div class="project-container">
	<section class="proj-tile">
		<h1 class="proj-name">2D Game Engine</h1>
		<p class="proj-blurb">A 2D Game Engine built with Python 3, Cython, and C++ using the SFML framework. Created as the final year project at University.</p>
		<div class="proj-bottom-bar">
			<a class="proj-button" href="https://gitlab.com/Hydrox6/2d-game-engine">View Source</a>
			<p class="proj-status">Status: Complete</p>
		</div>
	</section>
	<section class="proj-tile">
		<h1 class="proj-name">record</h1>
		<p class="proj-blurb">Screenshot & GIF/Video recording program for Linux, with a ShareX-like window for previewing what you're going to capture. GPU-accelerated on AMD cards (potentially).</p>
		<div class="proj-bottom-bar">
			<a class="proj-button" href="https://gitlab.com/hydrox6/record">View Source</a>
			<p class="proj-status">Status: Usable</p>
		</div>
	</section>
	<section class="proj-tile">
		<h1 class="proj-name">Best Nibbler</h1>
		<p class="proj-blurb">A Twitch.tv notification bot for Discord, built with Python 3 & Asyncio, with deployment though Docker.</p>
		<div class="proj-bottom-bar">
			<p class="proj-status">Status: Needs a cleanup</p>
		</div>
	</section>
	<section class="proj-tile">
		<h1 class="proj-name">Hydrox.IO</h1>
		<p class="proj-blurb">This website! Feel free to suggest changes.</p>
		<div class="proj-bottom-bar">
			<a class="proj-button" href="https://gitlab.com/Hydrox6/hydrox6.gitlab.io">View Source</a>
			<p class="proj-status">Status: Ongoing</p>
		</div>
	</section>
	<section class="proj-tile self">
		<h1 class="proj-name">aqpw</h1>
		<p class="proj-blurb">A feature-port of Das Keyboard's Q software that can work on any keyboard. Built in Python 3 with a plugin system for modular addition of features.</p>
		<div class="proj-bottom-bar">
			<p class="proj-status">Status: Missing core Q features</p>
		</div>
	</section>
	<section class="proj-tile self">
		<h1 class="proj-name">aria</h1>
		<p class="proj-blurb">A personal project that reduces the size of my music library so it will fit on my phone. Built with Python 3.</p>
		<div class="proj-bottom-bar">
			<p class="proj-status">Status: Nearly feature-complete</p>
		</div>
	</section>
	<section class="proj-tile self">
		<h1 class="proj-name">sonata</h1>
		<p class="proj-blurb">A feature-port of LiveSplit to Linux, using Python 3.9 and Qt5.</p>
		<div class="proj-bottom-bar">
			<p class="proj-status">Status: In early stages</p>
		</div>
	</section>
</div>