---
layout: default
---
<h1 class="cent-head">Hello there</h1>
<p>
	I'm Enriath.<br>
	You probably know / knew me by other names.<br>
	I used to make things; a lot of things. People still use & love those things.<br>
	These days I barely seem to do anything that I can be proud of.<br>
	I guess the things I'm most proud of these days are <code>aria</code>, my music library compactor for use on my phone, and maybe <code>aqpw</code>. <i>Maybe.</i><br>I'm not sure if either are both public & up to date, and I honestly don't care to check.<br>
	<br>
	I'm proud of what I've made in the past, all the tools & toys that are still used & loved by hundreds of thousands of people today, but looking back at it all hurts deeply.<br>
	I'm still around, and I'm still doing stuff, but more limited, and less of it overall. I'm mostly playing a specific game, and making things for that.<br>
	My repos are still below, after all, and I do still use them occasionally, but I do make a lot of stuff locally without ever pushing.<br>
	<br><br>
	Burnout is a real bitch, and this lady is more char than anything at this point. I need a break.<br>
<br><br><br><br></p>
<p style="font-size: 0.5vw;"><i>Have you heard of the critically acclaimed MMORPG...</i></p>