<section id="social">
	<a href="https://gitlab.com/enriath"><img src="{{ site.url }}/logos/gitlab.png" /></a>
	<a href="https://github.com/Enriath"><img src="{{ site.url }}/logos/github.png" /></a>
</section>